@media screen and (max-width: 1250px) {
  .navbar__links li a {
    padding: 35px 15px;
  }
  .hero__text {
    padding: 40px;
  }
  .sec {
    padding: 40px;
  }
  .contacts__content__text {
    padding: 40px;
  }
  .hero {
    grid-template-columns: 60% 40%;
  }
  .contacts {
    grid-template-columns: 60% 40%;
  }
}
@media screen and (max-width: 1204px) {
  .head {
    display: none;
  }
  .navbar__shamburger {
    display: block;
  }
  .navbar__links {
    display: none;
  }
  .navbar__search {
    display: none;
  }
  .hero {
    grid-template-columns: 100%;
  }
  .hero__img {
    height: 250px;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .hero__text {
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .preims__items {
    grid-template-columns: 1fr 1fr;
  }
  .services__items {
    grid-template-columns: 1fr 1fr;
  }
  .contacts {
    grid-template-columns: 100%;
  }
  .contacts__content__map {
    height: 250px;
  }
  .footer__cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
  }
  .footer__col {
    margin-top: 30px;
  }
  .footer__links a {
    text-align: center;
  }
  .footer__links li {
    text-align: center;
    margin-right: 0;
  }
  .footer__contacts__item__label {
    text-align: center;
  }
  .footer__contacts__item__title {
    text-align: center;
  }
  .footer__2__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .footer__2__politics {
    margin: 15px 0;
  }
}
@media screen and (max-width: 768px) {
  .callbuttons {
    display: grid;
  }
  .search__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .search__form button {
    width: 100%;
    margin-top: 15px;
  }
  .search__form input {
    width: 100%;
  }
  .search__result__title {
    font-size: 20px;
  }
  .search__noresults {
    padding: 60px 15px;
    font-size: 20px;
  }
  .services__item__img {
    height: 180px;
  }
  .price__content {
    margin-top: 30px;
  }
  .preims__items {
    grid-template-columns: 1fr;
  }
  .services__items {
    grid-template-columns: 100%;
  }
  .news__item {
    grid-template-columns: 100%;
  }
  .news__item__img {
    height: 180px;
  }
  .hero__form,
  .contacts__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: start;
            align-items: flex-start;
  }
  .hero__form .btn,
  .contacts__form .btn {
    margin-top: 15px;
  }
  .hero__form .inputgroup,
  .contacts__form .inputgroup {
    width: 100%;
  }
  .hero__form input,
  .contacts__form input {
    width: 100%;
  }
  .hero__form .btn,
  .contacts__form .btn {
    width: 100%;
  }
  .hero__text__politics {
    text-align: center;
  }
  .preims__item__title {
    font-size: 18px;
  }
  .preims__item__icon {
    margin-right: 15px;
  }
  .preims__item__desc {
    margin-top: 10px;
  }
  .services__item__title {
    font-size: 20px;
  }
  .container {
    padding: 0 15px;
  }
  .hero__text {
    padding: 20px;
  }
  .sec {
    padding: 20px;
  }
  .news__item__text {
    padding: 20px 0;
  }
  .main__content {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .hero__title {
    font-size: 24px;
  }
  .news__items {
    margin-top: 30px;
  }
  .navbar__logo img {
    height: 40px;
  }
  .hero__img {
    height: 200px;
  }
  .hero__desc {
    font-size: 22px;
  }
  .sec__title {
    font-size: 24px;
  }
  .services__items {
    margin-top: 30px;
  }
  .contacts__content__text {
    padding: 20px;
  }
  .preims__item__icon {
    width: 40px;
    min-width: 40px;
    height: 40px;
  }
  .modal {
    width: 100%;
    min-height: 100%;
    margin: 0;
    top: 0;
  }
  .vakancies__item {
    padding: 30px 0;
  }
  .vakancies__items {
    margin-top: 30px;
  }
  .breadcrumbs {
    margin-bottom: 15px;
  }
  .news__item__title {
    font-size: 20px;
  }
  .services__item__text {
    padding: 15px 0;
  }
}
