{% set title = 'Строймастер' %} {% extends 'layouts/_main.html' %} {% block
content %}

<!-- =========================== hero ============================= -->
<div class="hero">
  <div class="hero__text">
    <div class="breadcrumbs">
      <!-- Breadcrumb NavXT 6.5.0 -->
      <span property="itemListElement" typeof="ListItem"
        ><a
          property="item"
          typeof="WebPage"
          title="Перейти к Альтиус."
          href="https://altius-rf.ru"
          class="home"
          ><span property="name">Главная</span></a
        ><meta property="position" content="1" /></span
      ><span> » </span
      ><span property="itemListElement" typeof="ListItem"
        ><a
          property="item"
          typeof="WebPage"
          title="Перейти к Объекты."
          href="https://altius-rf.ru/objects"
          class="post post-objects-archive"
          ><span property="name">Услуги</span></a
        ><meta property="position" content="2" /></span
      ><span> » </span
      ><span property="itemListElement" typeof="ListItem"
        ><span property="name" class="post post-objects current-item"
          >Монтаж унитаза в Москве</span
        ><meta
          property="url"
          content="https://altius-rf.ru/objects/kapitalnyj-remont-kazanskoj-tjec-1" /><meta
          property="position"
          content="3"
      /></span>
    </div>
    <h1 class="hero__title">
      Монтаж унитаза в Москве
    </h1>
    <div class="hero__desc">от 199 рублей</div>
    <form action="" class="hero__form">
      <div class="inputgroup">
        <input type="text" placeholder="+7 (999) 999-9999" />
      </div>
      <div class="inputgroup">
        <button class="btn">Вызвать мастера</button>
      </div>
    </form>
    <div class="hero__text__politics">
      Нажимая «Вызвать мастера», я соглашаюсь с условиями
      <a href="">Политики конфиденциальности</a>
    </div>
  </div>
  <div
    class="hero__img"
    style="background-image: url(img/service-2.png);"
  ></div>
</div>
<!-- =========================== END hero ============================= -->
<!-- =========================== preims ============================= -->
<div class="preims sec">
  <div class="preims__items">
    <!-- preims__item -->
    <div class="preims__item">
      <div class="preims__item__head">
        <div
          class="preims__item__icon"
          style="background-image: url(img/preim-1.svg);"
        ></div>
        <div class="preims__item__title">Работаем с юр. и физ. лицами</div>
      </div>
    </div>
    <!--END preims__item -->
    <!-- preims__item -->
    <div class="preims__item">
      <div class="preims__item__head">
        <div
          class="preims__item__icon"
          style="background-image: url(img/preim-2.svg);"
        ></div>
        <div class="preims__item__title">Гарантия на работу до 3-х лет</div>
      </div>
    </div>
    <!--END preims__item -->
    <!-- preims__item -->
    <div class="preims__item">
      <div class="preims__item__head">
        <div
          class="preims__item__icon"
          style="background-image: url(img/preim-3.svg);"
        ></div>
        <div class="preims__item__title">Приедем в удобное для вас время</div>
      </div>
    </div>
    <!--END preims__item -->
  </div>
</div>
<!-- =========================== END preims ============================= -->
<!-- =========================== price ============================= -->
<div class="price sec">
  <div class="sec__title">Цены на монтаж унитаза в Москве</div>
  <div class="price__content content__editor">
    <table>
      <tr>
        <td>№</td>
        <td>Название услуги</td>
        <td>Цена&nbsp;от</td>
        <td>Цена&nbsp;до</td>
      </tr>
      <tr>
        <td>1</td>
        <td>
          Герметизация подошвы унитаза
        </td>
        <td>476&nbsp;₽</td>

        <td>1 447&nbsp;₽</td>
      </tr>
      <tr>
        <td>2</td>
        <td>
          Заделка пола цементом при демонтаже старого унитаза, точка
        </td>
        <td>379&nbsp;₽</td>

        <td>1 350&nbsp;₽</td>
      </tr>
      <tr>
        <td>3</td>
        <td>
          Крепление унитаза к полу
        </td>
        <td>476&nbsp;₽</td>

        <td>1 447&nbsp;₽</td>
      </tr>
      <tr>
        <td>4</td>
        <td>
          Монтаж унитаза
        </td>
        <td>282&nbsp;₽</td>

        <td>1 253&nbsp;₽</td>
      </tr>
      <tr>
        <td>5</td>
        <td>
          Настройка арматуры
        </td>
        <td>961&nbsp;₽</td>

        <td>1 933&nbsp;₽</td>
      </tr>
      <tr>
        <td>6</td>
        <td>
          Переделка канализационной трубы к унитазу
        </td>
        <td>1 447&nbsp;₽</td>

        <td>2 418&nbsp;₽</td>
      </tr>
      <tr>
        <td>7</td>
        <td>
          Расчеканка трубы железо-чугун
        </td>
        <td>1 835&nbsp;₽</td>

        <td>2 807&nbsp;₽</td>
      </tr>
      <tr>
        <td>8</td>
        <td>
          Расчеканка трубы чугунной 110
        </td>
        <td>3 875&nbsp;₽</td>

        <td>4 846&nbsp;₽</td>
      </tr>
      <tr>
        <td>9</td>
        <td>
          Установка бачка унитаза
        </td>
        <td>767&nbsp;₽</td>

        <td>1 738&nbsp;₽</td>
      </tr>
      <tr>
        <td>10</td>
        <td>
          Установка гофры на унитазе
        </td>
        <td>767&nbsp;₽</td>

        <td>1 738&nbsp;₽</td>
      </tr>
      <tr>
        <td>11</td>
        <td>
          Установка импортного унитаза
        </td>
        <td>1 641&nbsp;₽</td>

        <td>2 612&nbsp;₽</td>
      </tr>
      <tr>
        <td>12</td>
        <td>
          Установка унитаза отечественного
        </td>
        <td>961&nbsp;₽</td>

        <td>1 933&nbsp;₽</td>
      </tr>
    </table>
  </div>
</div>
<!-- =========================== END price ============================= -->
<!-- =========================== textblock ============================= -->
<div class="textblock sec">
  <div class="content__editor">
    <h1>Заголовок h1</h1>
    <p>
      Идейные соображения высшего порядка, а также высокотехнологичная концепция
      общественного уклада однозначно определяет каждого участника как
      способного принимать собственные решения касаемо поэтапного и
      последовательного развития общества. Идейные соображения высшего порядка,
      а также сложившаяся структура организации играет важную роль в
      формировании дальнейших направлений развития. Господа, существующая теория
      позволяет оценить значение прогресса профессионального сообщества.
      Повседневная практика показывает, что семантический разбор внешних
      противодействий, в своём классическом представлении, допускает внедрение
      дальнейших направлений развития. Как принято считать, непосредственные
      участники технического прогресса и по сей день остаются уделом либералов,
      которые жаждут быть превращены в посмешище, хотя само их существование
      приносит несомненную пользу обществу. Повседневная практика показывает,
      что перспективное планирование однозначно определяет каждого участника как
      способного принимать собственные решения касаемо благоприятных перспектив.
    </p>
    <h2>Заголовок h2</h2>
    <p>
      Равным образом, граница обучения кадров представляет собой интересный
      эксперимент проверки позиций, занимаемых участниками в отношении
      поставленных задач. Следует отметить, что сложившаяся структура
      организации способствует повышению качества прогресса профессионального
      сообщества. А также многие известные личности преданы
      социально-демократической анафеме. Таким образом, укрепление и развитие
      внутренней структуры способствует повышению качества первоочередных
      требований. Задача организации, в особенности же укрепление и развитие
      внутренней структуры обеспечивает широкому кругу (специалистов) участие в
      формировании приоритизации разума над эмоциями. Но активно развивающиеся
      страны третьего мира, превозмогая сложившуюся непростую экономическую
      ситуацию, обнародованы. Представители современных социальных резервов
      функционально разнесены на независимые элементы! Приятно, граждане,
      наблюдать, как действия представителей оппозиции будут призваны к ответу.
      В своём стремлении улучшить пользовательский опыт мы упускаем, что
      диаграммы связей неоднозначны и будут разоблачены. <a href="">Ссылка</a>
    </p>
    <h3>Заголовок h3</h3>
    <p>
      Равным образом, граница обучения кадров представляет собой интересный
      эксперимент проверки позиций, занимаемых участниками в отношении
      поставленных задач. Следует отметить, что сложившаяся структура
      организации способствует повышению качества прогресса профессионального
      сообщества. А также многие известные личности преданы
      социально-демократической анафеме. Таким образом, укрепление и развитие
      внутренней структуры способствует повышению качества первоочередных
      требований. Задача организации, в особенности же укрепление и развитие
      внутренней структуры обеспечивает широкому кругу (специалистов) участие в
      формировании приоритизации разума над эмоциями. Но активно развивающиеся
      страны третьего мира, превозмогая сложившуюся непростую экономическую
      ситуацию, обнародованы. Представители современных социальных резервов
      функционально разнесены на независимые элементы! Приятно, граждане,
      наблюдать, как действия представителей оппозиции будут призваны к ответу.
      В своём стремлении улучшить пользовательский опыт мы упускаем, что
      диаграммы связей неоднозначны и будут разоблачены. <a href="">Ссылка</a>
    </p>
    <h4>Заголовок h4</h4>
    <p>
      Равным образом, граница обучения кадров представляет собой интересный
      эксперимент проверки позиций, занимаемых участниками в отношении
      поставленных задач. Следует отметить, что сложившаяся структура
      организации способствует повышению качества прогресса профессионального
      сообщества. А также многие известные личности преданы
      социально-демократической анафеме. Таким образом, укрепление и развитие
      внутренней структуры способствует повышению качества первоочередных
      требований. Задача организации, в особенности же укрепление и развитие
      внутренней структуры обеспечивает широкому кругу (специалистов) участие в
      формировании приоритизации разума над эмоциями. Но активно развивающиеся
      страны третьего мира, превозмогая сложившуюся непростую экономическую
      ситуацию, обнародованы. Представители современных социальных резервов
      функционально разнесены на независимые элементы! Приятно, граждане,
      наблюдать, как действия представителей оппозиции будут призваны к ответу.
      В своём стремлении улучшить пользовательский опыт мы упускаем, что
      диаграммы связей неоднозначны и будут разоблачены. <a href="">Ссылка</a>
    </p>
    <h5>Заголовок h5</h5>
    <p>
      Равным образом, граница обучения кадров представляет собой интересный
      эксперимент проверки позиций, занимаемых участниками в отношении
      поставленных задач. Следует отметить, что сложившаяся структура
      организации способствует повышению качества прогресса профессионального
      сообщества. А также многие известные личности преданы
      социально-демократической анафеме. Таким образом, укрепление и развитие
      внутренней структуры способствует повышению качества первоочередных
      требований. Задача организации, в особенности же укрепление и развитие
      внутренней структуры обеспечивает широкому кругу (специалистов) участие в
      формировании приоритизации разума над эмоциями. Но активно развивающиеся
      страны третьего мира, превозмогая сложившуюся непростую экономическую
      ситуацию, обнародованы. Представители современных социальных резервов
      функционально разнесены на независимые элементы! Приятно, граждане,
      наблюдать, как действия представителей оппозиции будут призваны к ответу.
      В своём стремлении улучшить пользовательский опыт мы упускаем, что
      диаграммы связей неоднозначны и будут разоблачены. <a href="">Ссылка</a>
    </p>
    <h6>Заголовок h6</h6>
    <p>
      Равным образом, граница обучения кадров представляет собой интересный
      эксперимент проверки позиций, занимаемых участниками в отношении
      поставленных задач. Следует отметить, что сложившаяся структура
      организации способствует повышению качества прогресса профессионального
      сообщества. А также многие известные личности преданы
      социально-демократической анафеме. Таким образом, укрепление и развитие
      внутренней структуры способствует повышению качества первоочередных
      требований. Задача организации, в особенности же укрепление и развитие
      внутренней структуры обеспечивает широкому кругу (специалистов) участие в
      формировании приоритизации разума над эмоциями. Но активно развивающиеся
      страны третьего мира, превозмогая сложившуюся непростую экономическую
      ситуацию, обнародованы. Представители современных социальных резервов
      функционально разнесены на независимые элементы! Приятно, граждане,
      наблюдать, как действия представителей оппозиции будут призваны к ответу.
      В своём стремлении улучшить пользовательский опыт мы упускаем, что
      диаграммы связей неоднозначны и будут разоблачены. <a href="">Ссылка</a>
    </p>

    <ul>
      <li>Пункт ненумерованного списка</li>
      <li>Пункт ненумерованного списка</li>
      <li>Пункт ненумерованного списка</li>
      <li>Пункт ненумерованного списка</li>
      <li>Пункт ненумерованного списка</li>
    </ul>
    <p>
      Равным образом, граница обучения кадров представляет собой интересный
      эксперимент проверки позиций, занимаемых участниками в отношении
      поставленных задач. Следует отметить, что сложившаяся структура
      организации способствует повышению качества прогресса профессионального
      сообщества. А также многие известные личности преданы
      социально-демократической анафеме. Таким образом, укрепление и развитие
      внутренней структуры способствует повышению качества первоочередных
    </p>
    <ol>
      <li>Пункт нумерованного списка</li>
      <li>Пункт нумерованного списка</li>
      <li>Пункт нумерованного списка</li>
      <li>Пункт нумерованного списка</li>
      <li>Пункт нумерованного списка</li>
    </ol>
  </div>
</div>
<!-- =========================== END textblock ============================= -->
<!-- =========================== contacts ============================= -->
<div class="contacts">
  <div class="contacts__content__text">
    <div class="sec__title">Контакты</div>
    <ul class="contacts__list">
      <!-- contacts__list__item -->
      <li class="contacts__list__item">
        <img
          src="img/head__phone.svg"
          alt=""
          class="contacts__list__item__icon"
        />
        <span>+7 (495) 786-0017</span>
      </li>
      <!--END contacts__list__item -->
      <!-- contacts__list__item -->
      <li class="contacts__list__item">
        <img
          src="img/head__loc.svg"
          alt=""
          class="contacts__list__item__icon"
        />
        <span>109377, г. Москва ул. Новокузьминская 1-я д. 19</span>
      </li>
      <!--END contacts__list__item -->
      <!-- contacts__list__item -->
      <li class="contacts__list__item">
        <img
          src="img/head__mail.svg"
          alt=""
          class="contacts__list__item__icon"
        />
        <span>stroimaster-kbu@mail.ru</span>
      </li>
      <!--END contacts__list__item -->
    </ul>
    <form action="" class="contacts__form">
      <div class="inputgroup">
        <input name="phoneinput" type="text" placeholder="+7 (999) 999-9999" />
      </div>
      <div class="inputgroup">
        <button class="btn">Заказать звонок</button>
      </div>
    </form>
    <div class="hero__text__politics">
      Нажимая «Заказать звонок», я соглашаюсь с условиями
      <a href="">Политики конфиденциальности</a>
    </div>
  </div>
  <div class="contacts__content__map" id="contacts__map"></div>
</div>
<!-- =========================== END contacts ============================= -->
<script
  src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"
  type="text/javascript"
></script>
<script>
  //Яндекс Карта
  ymaps.ready(init);
  var myMapAll;

  function init() {
    myMapAll = new ymaps.Map("contacts__map", {
      center: [55.714663, 37.790893],
      zoom: 15,
    });
    var myPlacemark_1 = new ymaps.Placemark([55.714663, 37.790893], {
      balloonContentHeader: "Название объекта",
      balloonContentBody: "Описание объекта",
      balloonContentFooter: "",
      hintContent: "Кликните для более подробной информации",
    });
    myMapAll.geoObjects.add(myPlacemark_1);
  }
  //END Яндекс Карта
</script>
{% endblock %}
